.login_container{
  background:linear-gradient(to right, rgba(236, 0, 140, 1),rgba(252, 103, 103, 1));
  padding-bottom:5%;
  overflow: hidden;
  width:100%;
}

.login_mod{
  animation: slide_up_and_bounce 1s ease-in 1;
}

.title_logo{
  text-align: left;
  font-weight:100 !important;
  padding-top:10px;
  color:white;
  padding: 10px;
  display: inline;
  float: left;
  padding-left: 20px;
  width:100%;
  font-size:35px;
  font-family: "Montserrat"
}

.login_container img{
  width:20%;
}

.container-fluid{
  padding:0%;
  background:#f0f4f9;
}

.login_mod{
  background:white;
  padding:5%;
  padding-bottom:15%;
  margin-top:2.5%;
  position: relative;
}

.google_login{
  margin-top:5%;
  background:white;
}

.google_login .abcRioButton{
  width:100% !important;
}

.google_login .abcRioButton  .abcRioButtonContentWrapper{
  width:100% !important;
}

.authentication_container{
  background:white;
  box-shadow:0px 0px 10px rgba(0,0,0,.5);
  animation: slide_from_left 1 ease-in .75s;
  border-radius:10px;
  padding:5%;
  overflow: hidden;
  margin-top:10% !important;
  margin-left:5%;
  margin-right:5%;
  box-sizing: border-box;
}

.error_{
  box-shadow: 0px 0px 10px red !important;
  border-color:red !important;
}

form p{
  font-family: "Amazon Ember";

}

.login_subtitle{
  text-align: left;
  font-weight:300;
  width:80%;
  font-size:20px;
  font-family: "Amazon Ember";
}

.logo_login{
  width:30%;
  margin-left: 5%;
}

.login_title{
  text-align: left;
  font-weight:250;
  font-size:30px;
  font-family: "Amazon Ember";
}

.form_container{
  width:50%;
  float:right;
}

.intro_container{
  width:50%;
  float:left;
}

.login_button:hover{
  opacity:1;
}

.login_button{
  background:linear-gradient(to right, rgba(236, 0, 140, 1),rgba(252, 103, 103, 1));
  padding:2%;
  margin-top:15%;
  opacity:.6;
  color:white;
  font-size:17px;
  border-color:#2AB1FF;
  transition:  all .5s;
  border-width:0px;
  border-radius:15px;
  width:100%;

}

.forgot_pass{
  text-align: right;
  color:grey;
  margin-top:1%;
  font-size:13px;
}

.login_row label {
  width:100%;
  font-size:15px;
  font-family: "Amazon Ember";
}

.login_row input{
  margin-top:2.5%;
  width:100%;
  border:none;
  padding:10px;
  border-bottom:2px solid #e6e6e6;
  border-radius:2px;
  box-shadow:0px 0px 1px rgba(0,0,0,.5);
}

.login_row input:focus{
  outline:none;
  box-shadow:0px 0px 5px rgba(12, 192, 223, 1);
  border-color:#0CC0DF;
}

.error_:focus{
  border-color:red !important;
}

.login_form{
  font-size:14px;
  padding:1%;
}

.login_row{
  width:100%;
  margin-top:2.5%;
}

body{
  overflow:hidden  !important;
}

.inner_banner{
 animation: banner_appear .5s 1 ease-in;
 width:100%;
 padding:20px;
 position: absolute;
 top:0%;
 left:0%;
 opacity:1;
 transform: translateY(0px);
}

.delete_banner{
  animation: banner_disappear .5s 1 ease-in !important;
  transform:translateY(-100px) !important;
  opacity:0 !important;
}

.inner_banner p{
  color:white;
  font-size:22px;
  text-align: center;
  font-family: "amazon ember";
}
