.cta-section{
  padding:30px;
justify-content: center;
justify-items:center;
align-items: center;
}

.cta-section .title{
  font-size:90px;
  font-weight: 800;
  text-align: center;
}

.cta-section .description{
  font-size:30px;
  font-weight: 400;
}

.cta-section .cta-btn{
  padding:30px;
  width:100%;
  border-radius:10px;
  font-size:40px;
  font-weight: 600;
  color:white;
  background:#38b6ff;
  justify-content: center;
}
